/* .admin-insight__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
} */

/* .admin-container__title {
  font-size: larger;
  font-weight: 600;
  margin-right: 930px;
} */

/* .admin-container__subtitle {
  color: #808080;
  margin-right: 755px;
} */

/* .admin-metrics__container {
  padding: 20px 50px;
} */

/* .admin-metrics__top-row {
  display: flex;
  border-style: solid;
  border-color: grey;
  border-radius: 8px;
  border: 1px;
  color: grey;
  flex-direction: row;
}

.admin-metrics__top-row-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 10px;
  padding: 0;
} */

/* .admin-metrics__top-row-card {
  border: 1px solid grey;
  border-radius: 8px;
  width: 525px;
  height: 200px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .admin-metrics__wait-count {
  font-weight: 700;
  font-size: 48px;
  color: black;
} */

/* .admin-metrics__bottom-row {
  padding-top: 10px;
  margin: 0;
  justify-content: space-between;
}

.admin-metrics__bottom-row-cards {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.admin-metrics__bottom-row-card {
  border: 1px solid grey;
  border-radius: 8px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .admin-metrics__inactive-count {
  font-size: 36px;
  font-weight: 700;
} */

/* .admin-metrics__invite-acceptance-rate {
  font-size: 36px;
  font-weight: 700;
}

.admin-metrics__avg-response-time {
  font-size: 36px;
  font-weight: 700;
} */

/* .admin-metrics__subtext {
  color: grey;
} */
