/* .student-status__modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
   opacity: 50%; 
  height: 100%;
  width: 100%;
  inset: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.student-status__modal_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  height: 650px;
  padding: 20px;
  border-radius: 10px;
}

.student-status__info {
  display: flex;
}

.student-status__column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.student-status__modal_header {
  color: black;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: larger;
}

.student-status__modal_label {
  color: black;
  padding-bottom: 5px;
  font-weight: 500;
}

.student-status__modal_label__status {
  color: black;
}

.student-status__profile-link {
  color: lightgray;
  width: fit-content;
  padding-bottom: 20px;
}

.student-status__modal_text {
  color: lightgrey;
  padding-bottom: 20px;
  padding-right: 100px;
}

.student-status__modal_status-text {
  color: white;
  border-radius: 8px;
  background-color: #000;
  width: fit-content;
  padding: 5px 8px;
  margin-bottom: 20px;
}

.student-status__modal_program-text {
  color: #000;
  border-radius: 8px;
  background-color: white;
  border-color: lightgray;
  border-style: solid;
  width: fit-content;
  margin-bottom: 20px;
}

.student-status__modal_notes {
  color: lightgray;
  border: solid;
  border-radius: 8px;
  height: 95px;
  width: 100%;
  line-height: 12px;
}

.student-status__modal_save-button {
  color: white;
  background: #000;
  border-radius: 10px;
  height: 40px;
  width: 65px;
  margin-top: 5px;
  margin-left: 490px;
}

.studen-status__modal__close-btn {
  height: 15px;
  width: 15px;
  position: relative;
  top: 0px;
  left: 550px;
} */
